services:
  app:
    image: maven:4.0.0-rc-5-amazoncorretto-25-al2023
    container_name: wishly_app
    working_dir: /app
    volumes:
      - ./:/app
      - ~/.m2:/root/.m2
    command: ["mvn", "-DskipTests", "spring-boot:run"]
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - MYSQL_DATABASE_NAME=${MYSQL_DATABASE_NAME}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    ports:
      - "4101:4101"
      - "5005:5005"
    depends_on:
      mysql:
        condition: service_healthy
    stdin_open: true
    tty: true

  mysql:
    image: mysql:8.0
    container_name: ${MYSQL_DATABASE_NAME}
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 10s
      retries: 5

  adminer:
    image: adminer:latest
    container_name: adminer
    ports:
      - "8081:8080"
    depends_on:
      mysql:
        condition: service_healthy

volumes:
  mysql_data:
